<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        src="/logo/logo21_white.png"
        alt="Jamka Roku - logo"
        width="30"
        class="d-inline-block align-text-top"
      />
      <span class="ms-2">Jamka Roku 2021</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ms-lg-3 d-flex align-items-center">
          <a class="nav-link text-center <%= path==="/mains/home" ? "active" : "" %>" href="/">Domů</a>
        </li>
        <li class="nav-item ms-lg-3 d-flex align-items-center">
          <a class="nav-link text-center <%= path==="/courses/index" ? "active" : "" %>" href="/courses">Hřiště</a>
        </li>
        <li class="nav-item ms-lg-3 d-flex align-items-center">
          <a class="nav-link text-center <%= path==="/holes/top" ? "active" : "" %>" href="/holes/top">Top jamky</a>
        </li>
        <li class="nav-item ms-lg-3 d-flex align-items-center">
          <a class="nav-link text-center <%= path==="/comments/top" ? "active" : "" %>" href="/comments/top">Top komentáře</a>
        </li>
        <% if(showDuelsLink) { %>
          <li class="nav-item ms-lg-3 d-flex align-items-center">
            <a class="nav-link text-center <%= path==="/duels/index" ? "active" : "" %>" href="/duels/">Duely</a>
          </li>
        <% } %> 
        <% if (!currentUser) { %>
        <li class="nav-item ms-lg-3 d-flex align-items-center">
          <a class="nav-link text-center <%= path==="/users/register" ? "active" : "" %>" href="/users/register">Registrovat</a>
        </li>
        <li class="nav-item ms-lg-3 d-flex align-items-center">
          <a class="nav-link text-center <%= path==="/users/login" ? "active" : "" %>" href="/users/login">Přihlásit</a>
        </li>
        <% } else { %>
        <li class="nav-item ms-lg-3 d-flex align-items-center">
          <a class="nav-link text-center" href="/users/logout">Odhlásit</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
