<% layout('/layouts/mainTemplate') %>

<div class="d-flex justify-content-center">
  <h1
    class="
      display-6
      d-inline-block
      fw-bold
      border-bottom border-5 border-success
      lh-base
    "
  >
  Seznam všech hřišť
  </h1>
</div>

<div class="row mt-3">
  <div class="col-10 offset-1">
    <p class="lh-lg text-center mb-4">
      Zde najdeš všechna hřiště v České republice. Každé hřiště můžeš rozkliknout, prohlédnout si jamky a během nominační fáze je i nominovat. Kromě toho můžeš k hřištím přidávat komentáře s nejsilnějšími zážitky a bojovat o výhru v soutěži Vypravěč.
    </p>
    <form class="d-flex" method="GET" action="/courses">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Napiš, které hřiště hledáš..."
        aria-label="Search"
        name="q"
        id="q"
        list="courses-hints"
      />
      <button class="btn btn-outline-success" type="submit">Hledej</button>
    </form>
    <datalist id="courses-hints">
      <% for (let courseName of allCoursesNames){ %>
        <option value="<%= courseName.name %>" /> 
      <% } %>
    </datalist>
  </div>
</div>
<div class="mt-4">
  <% let printedCourses = 0 %> <% for (let course of courses){ %> <% if
  (printedCourses === 0) { %>
  <div class="row mb-3 justify-content-center">
    <% } %>
    <div class="col-md-5">
      <div class="card shadow mt-3">
        <img
          src="<%= course.image.url %>"
          class="card-img-top"
          alt="<%= course.name %>"
          onerror="this.onerror=null;this.src='https://res.cloudinary.com/dnlt6jw53/image/upload/courses/_placeholders/placeholder_course.jpg';"
        />
        <div class="card-body">
          <h5 class="card-title fw-bold"><%= course.name %></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="fw-bold">Lokace:</span> <%= course.region %>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">Realizace:</span> <%= course.company.name %>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">Počet jamek:</span> <%= course.numberOfHoles
            %>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">Par hřiště:</span> <%= course.layoutPar %>
          </li>
          <li class="list-group-item">
            <span class="fw-bold">Délka hřiště:</span> <%= course.layoutLength
            %> m
          </li>
        </ul>
        <div class="card-footer">
          <a
            href="/courses/<%= course._id %>"
            class="btn btn-success btn-sm w-100"
            >Více informací</a
          >
        </div>
      </div>
    </div>
    <% if (printedCourses === 1) { %>
  </div>
  <% } %> <% if (printedCourses === 0) { printedCourses = 1; } else {
  printedCourses = 0; } %> <% } %>
  <div class="mt-4">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <% if(previousPage != 1 && currentPage != 1) { %>
        <li class="page-item">
          <a class="page-link text-success" href="/courses/?page=<%= 1 %><%= searchQuery %>"
            ><%= 1 %></a
          >
        </li>
        <% } %> <% if(hasPreviousPage) { %>
        <li class="page-item">
          <a
            class="page-link text-success"
            href="/courses/?page=<%= previousPage %><%= searchQuery %>"
            ><%= previousPage %></a
          >
        </li>
        <% } %>
        <li class="page-item">
          <a
            class="page-link text-white bg-success"
            href="/courses/?page=<%= currentPage %><%= searchQuery %>"
            ><%= currentPage %></a
          >
        </li>
        <% if(hasNextPage) { %>
        <li class="page-item">
          <a
            class="page-link text-success"
            href="/courses/?page=<%= nextPage %><%= searchQuery %>"
            ><%= nextPage %></a
          >
        </li>
        <% } %> <% if(lastPage != nextPage && lastPage != currentPage) { %>
        <li class="page-item">
          <a
            class="page-link text-success"
            href="/courses/?page=<%= lastPage %><%= searchQuery %>"
            ><%= lastPage %></a
          >
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
</div>

<section class="banner my-5 container">
        <div class="d-none d-md-block">
          <a
          href="https://www.prodiscgolf.cz/"
          target="_blank"
          rel="noopener noreferrer">
          <% if(isBlackFriday) { %> 
            <img
            class="w-100"
            src="/banners/blackfriday_1300px.jpg"
            alt="Banner Black Friday - prodiscgolf.cz"
            />
          <% } else if(isFreeShipping) {  %>
            <img
            class="w-100"
            src="/banners/doprava_1300px.jpg"
            alt="Banner Doprava Zdarma - prodiscgolf.cz"
            />
          <% } else {  %>
            <img
            class="w-100"
            src="/banners/prodiscgolf_1300px.jpg"
            alt="Banner - prodiscgolf.cz"
            />
          <% } %> 
          </a>
        </div>
        <div class="d-block d-md-none">
          <a
          href="https://www.prodiscgolf.cz/"
          target="_blank"
          rel="noopener noreferrer">
          <% if(isBlackFriday) { %> 
            <img
            class="w-100"
            src="/banners/blackfriday_550px.jpg"
            alt="Banner Black Friday - prodiscgolf.cz"
            />
          <% } else if(isFreeShipping) {  %>
            <img
            class="w-100"
            src="/banners/doprava_550px.jpg"
            alt="Banner Doprava Zdarma - prodiscgolf.cz"
            />
          <% } else {  %>
            <img
            class="w-100"
            src="/banners/prodiscgolf_550px.jpg"
            alt="Banner - prodiscgolf.cz"
            />
          <% } %> 
          </a>
        </div> 
      </section>
