<% layout('/layouts/mainTemplate') %>

<h1 class="display-6
d-inline
fw-bold
border-bottom border-5 border-success
"><%= course.name %></h1>

<div class="row mt-5">
  <div class="col-lg-6 mb-md-4">
    <h3 class="mb-4 fw-bold border-bottom border-3 border-success d-inline-block">Základní informace</h3>
    <div class="card shadow">
      <img src="<%= course.image.url %> " class="card-img-top" alt="<%= course.name %>" />
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="fw-bold">Lokace:</span> <%= course.region %>
        </li>
        <li class="list-group-item">
          <span class="fw-bold">Typ:</span> <%= course.type %>
        </li>
        <li class="list-group-item">
          <span class="fw-bold">Počet jamek:</span> <%= course.numberOfHoles %>
        </li>
        <li class="list-group-item">
          <span class="fw-bold">Par hřiště:</span> <%= course.layoutPar %>
        </li>
        <li class="list-group-item">
          <span class="fw-bold">Délka hřiště:</span> <%= course.layoutLength %>
          m
        </li>
      </ul>
    </div>
    <!-- Comment section  -->
    <h3 class="mb-4 fw-bold border-bottom border-3 border-success d-inline-block mt-5">Komentáře</h3>
    <% if (comments.length == 0) { %>
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        K tomuto hřišti ještě nikdo nepřidal komentář, buď první! Sdílej svůj
        příběh, který se váže k tomuto hřišti a vyhraj zajímavé ceny!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } else { %> <% for (let comment of comments ) { %>
    <div class="card mb-3 shadow">
      <div class="card-header d-flex justify-content-between">
        <span class="fw-bold"><%= comment.author.username %></span>
        <span class="badge rounded-pill bg-secondary text-white text-wrap"><%= comment.date %></span>
      </div>
      <div class="card-body">
        <p class="card-text"><%= comment.text %></p>
        <div class="d-flex justify-content-end">
          <div class="me-1 badge bg-success d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
            <span class="ms-1 fs-6"><%= comment.votes %></span>
          </div>
          <form class="d-inline-block" action="/comments/<%= comment.id %>/?_method=PUT" method="POST">
            <% if (currentUser) { %> 
              <input type="hidden" name="userId" value="<%= currentUser._id %>">
              <% } %> 
            <input type="hidden" name="courseId" value="<%= course._id %>">
            <button type="submit" class="btn btn-success btn-sm fw-bold" <% if (!currentUser) { %>disabled<% } %>>
              Like
            </button>
          </form>
        </div>
        <!-- <a href="#" class="btn btn-success btn-sm">Like!</a> -->
      </div>
    </div>
    <% } }%>
    <div class="card mb-3 shadow">
      <form
      class="validated-form"
      action="/courses/<%= course._id %>/comments"
      method="POST"
      novalidate
      >
        <div class="card-header">
          <label class="form-label fw-bold" for="comment">Přidej komentář</label>
        </div>
          <div class="card-body">
            <textarea
              class="form-control"
              name="comment"
              id="comment"
              cols="30"
              rows="3"
              required
            ></textarea>
            <div class="valid-feedback">To vypadá dobře!</div>
            <div class="invalid-feedback">Zapoměl jsi zadat text!</div>
          </div>
          <% if (currentUser) { %> 
            <input type="hidden" name="userId" value="<%= currentUser._id %>">
          <% } %> 
            <div class="card-footer">
              <button class="btn btn-success btn-sm" type="submit" <%= currentUser ? '' : 'disabled' %>>Přidat Komentář</button>
            </div>
        </form> 
      </div>
    </div>
  <!-- Hole section -->
  <div class="col-lg-6">
    <h3 class="mb-4 mt-4 mt-md-0 fw-bold border-bottom border-3 border-success d-inline-block">Seznam všech jamek</h3>
    <% for (let hole of course.holes) { %>
      <div class="card shadow mb-3">
        <div class="row g-0">
          <div class="col-auto d-none d-md-inline">
            <img
              src="<%= hole.image.url %>"
              alt="Teesign jamky číslo <%= hole.number %>. na hřišti <%= course.name %>."
              class="img-fluid rounded-start border-0"
              style="max-width: 150px"
            />
          </div>
          <div class="col">
            <div class="card-header">
              <h5 class="fw-bold d-inline">Jamka č. <%= hole.number %></h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="fw-bold">Par:</span> <%= hole.par %>
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Délka jamky:</span> <%= hole.length %> m
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col"><span class="fw-bold">Počet nominací:</span> <%= hole.votes %></div>
                <% if (currentUser && currentUser.nominatedHoles.find(userHole => userHole._id.toString() === hole._id.toString())) { %>
                <div class="col-auto">
                  <span class="badge rounded-pill bg-info text-dark text-wrap">Tvá nominace</span> 
                </div>
                <% } %>
                </div>
              </li>
            </ul>
            <div class="card-footer d-flex justify-content-start">
              <form
                class="me-2"
                action="/holes/<%= hole._id %>/?_method=PUT"
                method="POST"
              >
                <input type="hidden" name="nomination" value="select">
                <% if (currentUser) { %> 
                <input type="hidden" name="userId" value="<%= currentUser._id %>">
                <% } %> 
                <button class="btn btn-success btn-sm" <% if (!currentUser || currentUser.nominatedHoles.length >= 3) { %>disabled<% } %>>Nominovat</button>
              </form>
              <form action="/holes/<%= hole._id %>/?_method=PUT" method="POST">
                <% if (currentUser) { %> 
                  <input type="hidden" name="userId" value="<%= currentUser._id %>">
                  <% } %> 
                <input type="hidden" name="nomination" value="deselect">
                <button class="btn btn-danger btn-sm" <% if (!currentUser || !currentUser.nominatedHoles.find(userHole => userHole._id.toString() === hole._id.toString())) { %>disabled<% } %>>Zrušit nominaci</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>
<script src="/js/validateForm.js"></script>