<% layout('/layouts/mainTemplate') %>

<h1 class="mb-3">Seznam všech duelů</h1>

<div class="my-4">
  <% duels.forEach(duel => { %>

  <div class="card text-center shadow mt-5">
    <div class="card-header fw-bold">Duel #<%= duel.round %></div>
    <div class="card-body">
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-4">
          <div class="card border-success border-3">
            <div class="card-body">
              <h5 class="card-title fw-bold border-bottom pb-1 mb-3">
                Jamka #<%= duel.holesInDuel[0].hole.number %>
              </h5>
              <p class="card-text">
                <%= duel.holesInDuel[0].hole.course.name %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 display-5">VS.</div>
        <div class="col-sm-4">
          <div class="card border-success border-3">
            <div class="card-body">
              <h5 class="card-title fw-bold border-bottom pb-1 mb-3">
                Jamka #<%= duel.holesInDuel[1].hole.number %>
              </h5>
              <p class="card-text">
                <%= duel.holesInDuel[1].hole.course.name %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <a href="/duels/<%= duel._id %>" class="btn btn-success mt-2 shadow"
        >Vstoupit do duelu!</a
      >
    </div>
    <div class="card-footer text-muted">
      <% if(duel.isFinished) { %>
      Tento duel proběhl <%= duel.endDate %>
      <% } else if(duel.isOngoing) { %>
      Tento duel probíhá právě teď 
      <% } else if(duel.isAboutToStart) { %>
      Tento duel proběhne <%= duel.startDate %>
      <% } %>
    </div>
  </div>
  <% }) %>
</div>
