<% layout('/layouts/mainTemplate') %>

<h1 class="display-6 d-inline fw-bold border-bottom border-5 border-success">
  Seznam všech duelů
</h1>

<div class="my-5">
  <% duels.forEach(duel => { %>

  <div class="card text-center mt-5 <% if(duel.isOngoing) { %>shadow-gold<% } else { %>shadow<% } %>">
    <div class="card-header">
      <h2>Duel #<%= duel.round %></h2>
      <% if(duel.isFinished) { %> 
        <span class="badge rounded-pill bg-dark text-white text-wrap">Již skončil</span> 
      <% } else if(duel.isOngoing) { %> 
        <span class="badge rounded-pill bg-warning text-dark text-wrap">Právě probíhá</span>  
      <% } else if(duel.isAboutToStart) { %> 
        <span class="badge rounded-pill bg-primary text-white text-wrap">Ještě nezačal</span> 
      <% } %>
      
    </div>
    <div class="card-body">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <h5
                class="
                  card-title
                  fw-bold
                  d-inline-block
                  border-bottom border-primary border-5
                  pb-1
                  mb-3
                "
              >
                Jamka #<%= duel.holesInDuel[0].hole.number %>
              </h5>
              <a href="/courses/<%= duel.holesInDuel[0].hole.course._id %>" class="d-block card-text text-dark text-decoration-none">
                <%= duel.holesInDuel[0].hole.course.name %>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 display-5 my-2 my-md-0">VS.</div>
        <div class="col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <h5
                class="
                  card-title
                  fw-bold
                  d-inline-block
                  border-bottom border-success border-5
                  pb-1
                  mb-3
                "
              >
                Jamka #<%= duel.holesInDuel[1].hole.number %>
              </h5>
              <a href="/courses/<%= duel.holesInDuel[1].hole.course._id %>" class="d-block card-text text-dark text-decoration-none">
                <%= duel.holesInDuel[1].hole.course.name %>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-auto">      
          <a href="/duels/<%= duel._id %>" class="btn btn-outline-dark mt-4 mt-lg-2 shadow w-100">Vstoupit do duelu</a>
        </div>
      </div>

    </div>
    <div class="card-footer text-muted">
      <% if(duel.isFinished) { %> 
        Tento duel proběhl <%= duel.endDate %> 
      <% } else if(duel.isOngoing) { %> 
        Tento duel probíhá právě teď 
      <% } else if(duel.isAboutToStart) { %> 
        Tento duel proběhne <%= duel.startDate %> 
      <% } %>
    </div>
  </div>
  <% }) %>
</div>
