<% layout('/layouts/mainTemplate') %>

<div class="d-flex justify-content-center">
  <h1
    class="
      display-6
      d-inline-block
      fw-bold
      border-bottom border-5 border-success
      lh-base
    "
  >
    Seznam duelů
  </h1>
</div>

<div class="my-3">
  <% if(heroDuel) { %>
  <div class="mt-1 mt-sm-3 mt-md-5">
    <h2 class="fw-bold lh-base text-center">Probíhající duel</h2>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="card text-center my-3 shadow">
          <div class="card-header bg-success">
            <h3 class="text-white fw-bold mb-0">Duel #<%= heroDuel.round %></h3>
          </div>
          <div class="card-body">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-4">
                <div class="card shadow">
                  <div class="card-body">
                    <h5
                      class="
                        card-title
                        fw-bold
                        d-inline-block
                        border-bottom border-primary border-5
                        pb-1
                        mb-3
                      "
                    >
                      Jamka #<%= heroDuel.holesInDuel[0].hole.number %>
                    </h5>
                    <a
                      href="/courses/<%= heroDuel.holesInDuel[0].hole.course._id %>"
                      class="d-block card-text text-dark text-decoration-none"
                    >
                      <%= heroDuel.holesInDuel[0].hole.course.name %>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-3 display-5 my-4 my-md-0">VS.</div>
              <div class="col-md-4">
                <div class="card shadow">
                  <div class="card-body">
                    <h5
                      class="
                        card-title
                        fw-bold
                        d-inline-block
                        border-bottom border-success border-5
                        pb-1
                        mb-3
                      "
                    >
                      Jamka #<%= heroDuel.holesInDuel[1].hole.number %>
                    </h5>
                    <a
                      href="/courses/<%= heroDuel.holesInDuel[1].hole.course._id %>"
                      class="d-block card-text text-dark text-decoration-none"
                    >
                      <%= heroDuel.holesInDuel[1].hole.course.name %>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4 align-items-center">
              <div class="col-3 text-center"><h4 class="display-6 m-0 border-bottom border-primary border-5 d-inline-block"><%= heroDuel.holesInDuel[0].votes %></h4></div>
              <div class="col-6">
                  <div class="progress shadow" style="height: 25px;">
                  <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: <%= Math.floor((100 * heroDuel.holesInDuel[0].votes) / (heroDuel.holesInDuel[0].votes + heroDuel.holesInDuel[1].votes)) %>%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                  ></div>
                  <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      style="width: <%= 100 - Math.floor((100 * heroDuel.holesInDuel[0].votes) / (heroDuel.holesInDuel[0].votes + heroDuel.holesInDuel[1].votes)) %>%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                  ></div>
                  </div>
              </div>
              <div class="col-3 text-center"><h4 class="display-6 m-0 border-bottom border-success border-5 d-inline-block"><%= heroDuel.holesInDuel[1].votes %></h4></div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-md-auto">
                <a
                  href="/duels/<%= heroDuel._id %>"
                  class="btn btn-outline-success mt-4 mt-lg-2 shadow w-100"
                  >Vstoupit do duelu</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
  <div class="mt-1 mt-sm-3 mt-md-5 shadow rounded pt-4 px-3 bg-light bg-gradient">
    <h2 class="text-center fw-bold lh-base">Soutěžní pavouk</h2>
    <div class="row mt-3">
      <div class="col px-1 px-md-3 d-flex flex-column justify-content-evenly">
        <div class="text-center mb-3">
          <h4
            class="
              border-bottom border-4 border-success
              d-inline
              mx-auto
              lh-base
            "
          >
            Osmifinále
          </h4>
        </div>
        <div class="d-flex flex-column justify-content-evenly h-100">
          <% for(let idx = 0; idx < 8; idx++) { %>
            <a href="/duels/<%= bracketDuels.eight[idx]._id %>" class="text-decoration-none text-body">
              <div
            class="
              flex-grow-1
              d-flex
              flex-column
              justify-content-center
              my-4
              p-2
              border-end border-3 rounded
              shadow
              <%= bracketDuels.eight[idx].isOngoing ? "bg-white border-warning border-5 border-start" : "bg-light border-success" %> 
            "
          >
            <div class="d-flex justify-content-between align-items-center mb-2">
              <% if(bracketDuels.eight[idx]) { %>
                <div class="flex-shrink-0">
                  <% if(bracketDuels.eight[idx].isOngoing) { %>
                    <i class="em em-crossed_swords" aria-role="presentation" aria-label=""></i>
                  <% } %>
                  <% if(bracketDuels.eight[idx].isAboutToStart) { %>
                    <i class="em em-grey_question" aria-role="presentation" aria-label="WHITE QUESTION MARK ORNAMENT"></i>
                  <% } %>
                  <% if(bracketDuels.eight[idx].isFinished) { %>
                    <% if(bracketDuels.eight[idx].holesInDuel[0].votes > bracketDuels.eight[idx].holesInDuel[1].votes) { %>
                      <i class="em em-trophy" aria-role="presentation" aria-label="TROPHY"></i>
                    <% } else { %>
                      <i class="em em-x" aria-role="presentation" aria-label="CROSS MARK"></i>
                    <% } %> 
                  <% } %>
                </div>
                <h6 class="mb-0 text-center fw-bold mx-1 <%= (!bracketDuels.eight[idx].isFinished ? "" : ((bracketDuels.eight[idx].holesInDuel[0].votes > bracketDuels.eight[idx].holesInDuel[1].votes)) ? "" : "text-muted text-decoration-line-through") %>" style="font-size: 0.8rem;">
                  <%= bracketDuels.eight[idx].holesInDuel[0].hole.course.name %> 
                </h6>
                <h5 class="mb-0 fw-bold fs-4 <%= (!bracketDuels.eight[idx].isFinished ? "" : ((bracketDuels.eight[idx].holesInDuel[0].votes > bracketDuels.eight[idx].holesInDuel[1].votes)) ? "" : "text-muted") %>">#<%= bracketDuels.eight[idx].holesInDuel[0].hole.number %></h5>
              <% } else { %>
                <i class="em em-question" aria-role="presentation" aria-label="BLACK QUESTION MARK ORNAMENT"></i>
              <% } %> 
            </div>
            <time class="text-black-50 text-center"><%= bracketStartDates.eight[idx] %></time>
            <div class="d-flex justify-content-between align-items-center mt-2">
              <% if(bracketDuels.eight[idx]) { %> 
                <div class="flex-shrink-0">
                  <% if(bracketDuels.eight[idx].isOngoing) { %>
                    <i class="em em-crossed_swords" aria-role="presentation" aria-label=""></i>
                  <% } %>
                  <% if(bracketDuels.eight[idx].isAboutToStart) { %>
                    <i class="em em-grey_question" aria-role="presentation" aria-label="WHITE QUESTION MARK ORNAMENT"></i>
                  <% } %>
                  <% if(bracketDuels.eight[idx].isFinished) { %>
                    <% if(bracketDuels.eight[idx].holesInDuel[0].votes < bracketDuels.eight[idx].holesInDuel[1].votes) { %>
                      <i class="em em-trophy" aria-role="presentation" aria-label="TROPHY"></i>
                    <% } else { %>
                      <i class="em em-x" aria-role="presentation" aria-label="CROSS MARK"></i>
                    <% } %> 
                  <% } %>
                </div>
                <h6 class="mb-0 text-center fw-bold mx-1 <%= (!bracketDuels.eight[idx].isFinished ? "" : ((bracketDuels.eight[idx].holesInDuel[0].votes < bracketDuels.eight[idx].holesInDuel[1].votes)) ? "" : "text-muted text-decoration-line-through") %>" style="font-size: 0.8rem;">
                  <%= bracketDuels.eight[idx].holesInDuel[1].hole.course.name %> 
                </h6>
                <h5 class="mb-0 fw-bold fs-4 <%= (!bracketDuels.eight[idx].isFinished ? "" : ((bracketDuels.eight[idx].holesInDuel[0].votes < bracketDuels.eight[idx].holesInDuel[1].votes)) ? "" : "text-muted") %>">#<%= bracketDuels.eight[idx].holesInDuel[1].hole.number %></h5>
              <% } else { %>
                <i class="em em-question" aria-role="presentation" aria-label="BLACK QUESTION MARK ORNAMENT"></i>
              <% } %> 
            </div>
              </div>
            </a>
          <% } %> 
        </div>
      </div>
      <div class="col px-1 px-md-3 d-flex flex-column justify-content-evenly">
        <div class="text-center mb-3">
          <h4
            class="
              border-bottom border-4 border-success
              d-inline
              mx-auto
              lh-base
            "
          >
            Čtvrtfinále
          </h4>
        </div>
        <div class="d-flex flex-column justify-content-evenly h-100">
          <% for(let idx = 0; idx < 4; idx++) { %>
            <div class="d-flex flex-column justify-content-center my-4 flex-grow-1 flex-shrink-1" style="flex-basis: 0">
              <div
              class="border-end border-3 rounded p-2 d-flex flex-column position-relative shadow <%= (bracketDuels.quarter[idx] && bracketDuels.quarter[idx].isOngoing) ? "bg-white border-warning border-5 border-start" : "bg-light border-success" %>"
              >
                <div class="position-absolute end-50 w-50 h-25 border-top border-end border-success border-3 d-none d-sm-block" style="top: -25%;"></div>
                <a href="<%= bracketDuels.quarter[idx] ? `/duels/${bracketDuels.quarter[idx]._id}` : "#" %>" class="d-flex flex-column justify-content-center text-decoration-none text-body">
                  <div class="d-flex justify-content-center align-items-center mb-2">
                    <% if(bracketDuels.quarter[idx]) { %>
                      <div class="flex-shrink-0">
                        <% if(bracketDuels.quarter[idx].isOngoing) { %>
                          <i class="em em-crossed_swords" aria-role="presentation" aria-label=""></i>
                        <% } %>
                        <% if(bracketDuels.quarter[idx].isAboutToStart) { %>
                          <i class="em em-grey_question" aria-role="presentation" aria-label="WHITE QUESTION MARK ORNAMENT"></i>
                        <% } %>
                        <% if(bracketDuels.quarter[idx].isFinished) { %>
                          <% if(bracketDuels.quarter[idx].holesInDuel[0].votes > bracketDuels.quarter[idx].holesInDuel[1].votes) { %>
                            <i class="em em-trophy" aria-role="presentation" aria-label="TROPHY"></i>
                          <% } else { %>
                            <i class="em em-x" aria-role="presentation" aria-label="CROSS MARK"></i>
                          <% } %> 
                        <% } %>
                      </div>
                      <h6 class="mb-0 text-center fw-bold mx-1 flex-grow-1 <%= (!bracketDuels.quarter[idx].isFinished ? "" : ((bracketDuels.eight[idx].holesInDuel[0].votes > bracketDuels.eight[idx].holesInDuel[1].votes)) ? "" : "text-muted text-decoration-line-through") %>" style="font-size: 0.8rem;">
                        <%= bracketDuels.quarter[idx].holesInDuel[0].hole.course.name %> 
                      </h6>
                      <h5 class="mb-0 fw-bold fs-4 <%= (!bracketDuels.quarter[idx].isFinished ? "" : ((bracketDuels.eight[idx].holesInDuel[0].votes > bracketDuels.eight[idx].holesInDuel[1].votes)) ? "" : "text-muted") %>">#<%= bracketDuels.eight[idx].holesInDuel[0].hole.number %></h5>
                    <% } else { %>
                      <i class="em em-question" aria-role="presentation" aria-label="BLACK QUESTION MARK ORNAMENT"></i>
                    <% } %> 
                  </div>
                  <time class="text-black-50 text-center"><%= bracketStartDates.quarter[idx] %></time>
                  <div class="d-flex justify-content-center align-items-center mt-2">
                    <% if(bracketDuels.quarter[idx]) { %> 
                      <div class="flex-shrink-0">
                        <% if(bracketDuels.quarter[idx].isOngoing) { %>
                          <i class="em em-crossed_swords" aria-role="presentation" aria-label=""></i>
                        <% } %>
                        <% if(bracketDuels.quarter[idx].isAboutToStart) { %>
                          <i class="em em-grey_question" aria-role="presentation" aria-label="WHITE QUESTION MARK ORNAMENT"></i>
                        <% } %>
                        <% if(bracketDuels.quarter[idx].isFinished) { %>
                          <% if(bracketDuels.quarter[idx].holesInDuel[0].votes < bracketDuels.quarter[idx].holesInDuel[1].votes) { %>
                            <i class="em em-trophy" aria-role="presentation" aria-label="TROPHY"></i>
                          <% } else { %>
                            <i class="em em-x" aria-role="presentation" aria-label="CROSS MARK"></i>
                          <% } %> 
                        <% } %>
                      </div>
                      <h6 class="mb-0 text-center fw-bold mx-1 flex-grow-1 <%= (!bracketDuels.quarter[idx].isFinished ? "" : ((bracketDuels.eight[idx].holesInDuel[0].votes < bracketDuels.eight[idx].holesInDuel[1].votes)) ? "" : "text-muted text-decoration-line-through") %>" style="font-size: 0.8rem;">
                        <%= bracketDuels.quarter[idx].holesInDuel[1].hole.course.name %> 
                      </h6>
                      <h5 class="mb-0 fw-bold fs-4 <%= (!bracketDuels.quarter[idx].isFinished ? "" : ((bracketDuels.eight[idx].holesInDuel[0].votes < bracketDuels.eight[idx].holesInDuel[1].votes)) ? "" : "text-muted") %>">#<%= bracketDuels.eight[idx].holesInDuel[1].hole.number %></h5>
                    <% } else { %>
                      <i class="em em-question" aria-role="presentation" aria-label="BLACK QUESTION MARK ORNAMENT"></i>
                    <% } %> 
                  </div>
                </a>
                <div class="position-absolute end-50 w-50 h-25 border-bottom border-end border-success border-3 d-none d-sm-block" style="bottom: -25%;"></div>
              </div>
            </div>
          <% } %> 
        </div>
      </div>
      <div class="col px-1 px-md-3 d-flex flex-column justify-content-evenly">
        <div class="text-center mb-3">
          <h4
            class="
              border-bottom border-4 border-success
              d-inline
              mx-auto
              lh-base
            "
          >
            Semifinále
          </h4>
        </div>
        <div class="d-flex flex-column justify-content-evenly h-100">
          <% for(let idx = 0; idx < 2; idx++) { %>
            <div class="d-flex flex-column justify-content-center my-4 flex-grow-1 flex-shrink-1" style="flex-basis: 0">
              <div
              class="border-end border-3 rounded p-2 d-flex flex-column position-relative shadow <%= (bracketDuels.semi[idx] && bracketDuels.semi[idx].isOngoing) ? "bg-white border-warning border-5 border-start" : "bg-light border-success" %>"
              >
              <div class="position-absolute end-50 w-50 h-100 border-top border-end border-success border-3 d-none d-md-block" style="top: -100%;"></div>
                <a href="<%= bracketDuels.semi[idx] ? `/duels/${bracketDuels.semi[idx]._id}` : "#" %>" class="d-flex flex-column justify-content-center text-decoration-none text-body">
                  <div class="d-flex justify-content-center align-items-center mb-2">
                    <% if(bracketDuels.semi[idx]) { %>
                      <div class="flex-shrink-0">
                        <% if(bracketDuels.semi[idx].isOngoing) { %>
                          <i class="em em-crossed_swords" aria-role="presentation" aria-label=""></i>
                        <% } %>
                        <% if(bracketDuels.semi[idx].isAboutToStart) { %>
                          <i class="em em-grey_question" aria-role="presentation" aria-label="WHITE QUESTION MARK ORNAMENT"></i>
                        <% } %>
                        <% if(bracketDuels.semi[idx].isFinished) { %>
                          <% if(bracketDuels.semi[idx].holesInDuel[0].votes > bracketDuels.semi[idx].holesInDuel[1].votes) { %>
                            <i class="em em-trophy" aria-role="presentation" aria-label="TROPHY"></i>
                          <% } else { %>
                            <i class="em em-x" aria-role="presentation" aria-label="CROSS MARK"></i>
                          <% } %> 
                        <% } %>
                      </div>
                      <h6 class="mb-0 text-center fw-bold mx-1 flex-grow-1 <%= (!bracketDuels.semi[idx].isFinished ? "" : ((bracketDuels.eight[idx].holesInDuel[0].votes > bracketDuels.eight[idx].holesInDuel[1].votes)) ? "" : "text-muted text-decoration-line-through") %>" style="font-size: 0.8rem;">
                        <%= bracketDuels.semi[idx].holesInDuel[0].hole.course.name %> 
                      </h6>
                      <h5 class="mb-0 fw-bold fs-4 <%= (!bracketDuels.semi[idx].isFinished ? "" : ((bracketDuels.eight[idx].holesInDuel[0].votes > bracketDuels.eight[idx].holesInDuel[1].votes)) ? "" : "text-muted") %>">#<%= bracketDuels.eight[idx].holesInDuel[0].hole.number %></h5>
                    <% } else { %>
                      <i class="em em-question" aria-role="presentation" aria-label="BLACK QUESTION MARK ORNAMENT"></i>
                    <% } %> 
                  </div>
                  <time class="text-black-50 text-center"><%= bracketStartDates.semi[idx] %></time>
                  <div class="d-flex justify-content-center align-items-center mt-2">
                    <% if(bracketDuels.semi[idx]) { %> 
                      <div class="flex-shrink-0">
                        <% if(bracketDuels.semi[idx].isOngoing) { %>
                          <i class="em em-crossed_swords" aria-role="presentation" aria-label=""></i>
                        <% } %>
                        <% if(bracketDuels.semi[idx].isAboutToStart) { %>
                          <i class="em em-grey_question" aria-role="presentation" aria-label="WHITE QUESTION MARK ORNAMENT"></i>
                        <% } %>
                        <% if(bracketDuels.semi[idx].isFinished) { %>
                          <% if(bracketDuels.semi[idx].holesInDuel[0].votes < bracketDuels.semi[idx].holesInDuel[1].votes) { %>
                            <i class="em em-trophy" aria-role="presentation" aria-label="TROPHY"></i>
                          <% } else { %>
                            <i class="em em-x" aria-role="presentation" aria-label="CROSS MARK"></i>
                          <% } %> 
                        <% } %>
                      </div>
                      <h6 class="mb-0 text-center fw-bold mx-1 flex-grow-1 <%= (!bracketDuels.semi[idx].isFinished ? "" : ((bracketDuels.eight[idx].holesInDuel[0].votes < bracketDuels.eight[idx].holesInDuel[1].votes)) ? "" : "text-muted text-decoration-line-through") %>" style="font-size: 0.8rem;">
                        <%= bracketDuels.semi[idx].holesInDuel[1].hole.course.name %> 
                      </h6>
                      <h5 class="mb-0 fw-bold fs-4 <%= (!bracketDuels.semi[idx].isFinished ? "" : ((bracketDuels.eight[idx].holesInDuel[0].votes < bracketDuels.eight[idx].holesInDuel[1].votes)) ? "" : "text-muted") %>">#<%= bracketDuels.eight[idx].holesInDuel[1].hole.number %></h5>
                    <% } else { %>
                      <i class="em em-question" aria-role="presentation" aria-label="BLACK QUESTION MARK ORNAMENT"></i>
                    <% } %> 
                  </div>
                </a>
                <div class="position-absolute end-50 w-50 h-100 border-bottom border-end border-success border-3 d-none d-md-block" style="bottom: -100%;"></div>
              </div>
            </div>
          <% } %> 
          <!-- <div
            class="
              flex-grow-1 flex-shrink-1
              d-flex
              flex-column
              justify-content-center
              my-4
            "
            style="flex-basis: 0"
          >
            <div
              class="border-end border-success border-3 p-2 d-flex flex-column"
            >
              <div
                class="d-flex justify-content-center align-items-center mb-2"
              >
                <i
                  class="em em-question"
                  aria-role="presentation"
                  aria-label="BLACK QUESTION MARK ORNAMENT"
                ></i>
              </div>
              <time class="text-black-50 text-center">23.11.2021</time>
              <div
                class="d-flex justify-content-center align-items-center mt-2"
              >
                <i
                  class="em em-question"
                  aria-role="presentation"
                  aria-label="BLACK QUESTION MARK ORNAMENT"
                ></i>
              </div>
            </div>
          </div>
          <div
            class="
              flex-grow-1 flex-shrink-1
              d-flex
              flex-column
              justify-content-center
              my-4
            "
            style="flex-basis: 0"
          >
            <div
              class="border-end border-success border-3 p-2 d-flex flex-column"
            >
              <div
                class="d-flex justify-content-center align-items-center mb-2"
              >
                <i
                  class="em em-question"
                  aria-role="presentation"
                  aria-label="BLACK QUESTION MARK ORNAMENT"
                ></i>
              </div>
              <time class="text-black-50 text-center">24.11.2021</time>
              <div
                class="d-flex justify-content-center align-items-center mt-2"
              >
                <i
                  class="em em-question"
                  aria-role="presentation"
                  aria-label="BLACK QUESTION MARK ORNAMENT"
                ></i>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col px-1 px-md-3 d-flex flex-column justify-content-evenly">
        <div class="text-center mb-3">
          <h4
            class="
              border-bottom border-4 border-success
              d-inline
              mx-auto
              lh-base
            "
          >
            Finále
          </h4>
        </div>
        <% for(let idx = 0; idx < 1; idx++) { %>
          <div class="d-flex flex-column justify-content-center my-4 flex-grow-1 flex-shrink-1" style="flex-basis: 0">
            <div
            class="border-end border-3 rounded p-2 d-flex flex-column position-relative shadow <%= (bracketDuels.final[idx] && bracketDuels.final[idx].isOngoing) ? "bg-white border-warning border-5 border-start" : "bg-light border-success" %>"
            >
              <div class="position-absolute end-50 w-50 border-top border-end border-success border-3 d-none d-sm-block d-md-none" style="top: -25%; height: 25%;"></div>
              <div class="position-absolute end-50 w-50 border-top border-end border-success border-3 d-none d-lg-block" style="top: -270%; height: 270%;"></div>
                <a href="<%= bracketDuels.final[idx] ? `/duels/${bracketDuels.final[idx]._id}` : "#" %>" class="d-flex flex-column justify-content-center text-decoration-none text-body">
                  <div class="d-flex justify-content-center align-items-center mb-2">
                    <% if(bracketDuels.final[idx]) { %>
                      <div class="flex-shrink-0">
                        <% if(bracketDuels.final[idx].isOngoing) { %>
                          <i class="em em-crossed_swords" aria-role="presentation" aria-label=""></i>
                        <% } %>
                        <% if(bracketDuels.final[idx].isAboutToStart) { %>
                          <i class="em em-grey_question" aria-role="presentation" aria-label="WHITE QUESTION MARK ORNAMENT"></i>
                        <% } %>
                        <% if(bracketDuels.final[idx].isFinished) { %>
                          <% if(bracketDuels.final[idx].holesInDuel[0].votes > bracketDuels.final[idx].holesInDuel[1].votes) { %>
                            <i class="em em-trophy" aria-role="presentation" aria-label="TROPHY"></i>
                          <% } else { %>
                            <i class="em em-x" aria-role="presentation" aria-label="CROSS MARK"></i>
                          <% } %> 
                        <% } %>
                      </div>
                      <h6 class="mb-0 text-center fw-bold mx-1 flex-grow-1 <%= (!bracketDuels.final[idx].isFinished ? "" : ((bracketDuels.eight[idx].holesInDuel[0].votes > bracketDuels.eight[idx].holesInDuel[1].votes)) ? "" : "text-muted text-decoration-line-through") %>" style="font-size: 0.8rem;">
                        <%= bracketDuels.final[idx].holesInDuel[0].hole.course.name %> 
                      </h6>
                      <h5 class="mb-0 fw-bold fs-4 <%= (!bracketDuels.final[idx].isFinished ? "" : ((bracketDuels.eight[idx].holesInDuel[0].votes > bracketDuels.eight[idx].holesInDuel[1].votes)) ? "" : "text-muted") %>">#<%= bracketDuels.eight[idx].holesInDuel[0].hole.number %></h5>
                    <% } else { %>
                      <i class="em em-question" aria-role="presentation" aria-label="BLACK QUESTION MARK ORNAMENT"></i>
                    <% } %> 
                  </div>
                  <time class="text-black-50 text-center"><%= bracketStartDates.final[idx] %></time>
                  <div class="d-flex justify-content-center align-items-center mt-2">
                    <% if(bracketDuels.final[idx]) { %> 
                      <div class="flex-shrink-0">
                        <% if(bracketDuels.final[idx].isOngoing) { %>
                          <i class="em em-crossed_swords" aria-role="presentation" aria-label=""></i>
                        <% } %>
                        <% if(bracketDuels.final[idx].isAboutToStart) { %>
                          <i class="em em-grey_question" aria-role="presentation" aria-label="WHITE QUESTION MARK ORNAMENT"></i>
                        <% } %>
                        <% if(bracketDuels.final[idx].isFinished) { %>
                          <% if(bracketDuels.final[idx].holesInDuel[0].votes < bracketDuels.final[idx].holesInDuel[1].votes) { %>
                            <i class="em em-trophy" aria-role="presentation" aria-label="TROPHY"></i>
                          <% } else { %>
                            <i class="em em-x" aria-role="presentation" aria-label="CROSS MARK"></i>
                          <% } %> 
                        <% } %>
                      </div>
                      <h6 class="mb-0 text-center fw-bold mx-1 flex-grow-1 <%= (!bracketDuels.final[idx].isFinished ? "" : ((bracketDuels.eight[idx].holesInDuel[0].votes < bracketDuels.eight[idx].holesInDuel[1].votes)) ? "" : "text-muted text-decoration-line-through") %>" style="font-size: 0.8rem;">
                        <%= bracketDuels.final[idx].holesInDuel[1].hole.course.name %> 
                      </h6>
                      <h5 class="mb-0 fw-bold fs-4 <%= (!bracketDuels.final[idx].isFinished ? "" : ((bracketDuels.eight[idx].holesInDuel[0].votes < bracketDuels.eight[idx].holesInDuel[1].votes)) ? "" : "text-muted") %>">#<%= bracketDuels.eight[idx].holesInDuel[1].hole.number %></h5>
                    <% } else { %>
                      <i class="em em-question" aria-role="presentation" aria-label="BLACK QUESTION MARK ORNAMENT"></i>
                    <% } %> 
                  </div>
                </a>
              <div class="position-absolute end-50 w-50 border-bottom border-end border-success border-3 d-none d-lg-block" style="bottom: -270%; height: 270%;"></div>
              <div class="position-absolute end-50 w-50 border-bottom border-end border-success border-3 d-none d-sm-block d-md-none" style="bottom: -25%; height: 25%;"></div>
            </div>
          </div>
        <% } %> 
      </div>
      <div class="col px-1 px-md-3 d-flex flex-column justify-content-evenly">
        <div class="text-center mb-3">
          <h4
            class="
              border-bottom border-4 border-success
              d-inline
              mx-auto
              lh-base
            "
          >
            Jamka roku
          </h4>
        </div>
        <div class="d-flex flex-column justify-content-evenly h-100">
          <div
            class="flex-grow-1 d-flex flex-column justify-content-center my-4"
          >
            <div
              class="
                d-flex
                justify-content-center
                align-items-center
                mb-2
                border-end border-success border-3
                px-2
                py-3
                shadow
              "
            >
              <i class="em em-trophy" aria-role="presentation" aria-label="TROPHY"></i>
              <h6 class="mb-0 text-center fw-bold mx-1 flex-grow-1">
                DiscgolfPark Ladronka
              </h6>
              <h5 class="mb-0 fw-bold fs-4">#1</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-1 mt-sm-3 mt-md-5">
    <h2 class="text-center fw-bold lh-base">Tabulka všech duelů</h2>
    <div class="row mt-3 justify-content-center">
      <div class="col">
        <div class="table-responsive">
          <table class="table align-middle">
            <thead class="table-success">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Start</th>
                <th scope="col"></th>
                <th scope="col" class="text-end">Jamka 1</th>
                <th scope="col">              
                  <i class="em em-crossed_swords" aria-role="presentation" aria-label=""></i>
                </th>
                <th scope="col">Jamka 2</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% for (let duel of duels){ %>
              <tr>
                <th scope="row"><%= duel.round %></th>
                <td><time class="text-center" style="font-size: 0.8rem;"><%= duel.startDate %></time></td>
                <td>
                  <a class="badge bg-success text-white text-decoration-none" href="/duels/<%= duel._id %>">
                    Vstoupit
                  </a>
                </td>
                <td>
                  <div class="d-flex justify-content-end align-items-center">
                    <a class="link-success text-decoration-none text-end" href="/courses/<%= duel.holesInDuel[0].hole.course._id %>">
                      <%= duel.holesInDuel[0].hole.course.name %>
                    </a>
                    <p class="fw-bold m-0 mx-1">
                      <%= duel.holesInDuel[0].hole.number %>#
                    </p>
                    <% if(duel.isFinished) { %>
                      <div class="flex-shrink-0">
                        <% if(duel.holesInDuel[0].votes > duel.holesInDuel[1].votes) { %>
                          <i class="em em-trophy" aria-role="presentation" aria-label="TROPHY"></i>
                        <% } else { %>
                          <i class="em em-x" aria-role="presentation" aria-label="CROSS MARK"></i>
                        <% } %>
                      </div> 
                    <% } %>
                  </div> 
                </td>
                <td class="text-center">vs.</td>
                <td>
                  <div class="d-flex align-items-center">
                    <% if(duel.isFinished) { %>
                      <div class="flex-shrink-0">
                        <% if(duel.holesInDuel[1].votes > duel.holesInDuel[0].votes) { %>
                          <i class="em em-trophy" aria-role="presentation" aria-label="TROPHY"></i>
                        <% } else { %>
                          <i class="em em-x" aria-role="presentation" aria-label="CROSS MARK"></i>
                        <% } %>
                      </div>
                    <% } %> 
                    <p class="fw-bold m-0 mx-1"
                      ><%= duel.holesInDuel[1].hole.number %>#</p
                    >
                    <a class="link-success text-decoration-none" href="/courses/<%= duel.holesInDuel[1].hole.course._id %>">
                      <%= duel.holesInDuel[1].hole.course.name %>
                    </a>
                  </div>  
                </td>
                <td>
                  <% if(duel.isOngoing) { %> 
                    <span class="badge rounded-pill bg-warning text-dark text-wrap">Probíhá</span>
                  <% } %> 
                  <% if(duel.isFinished) { %> 
                    <span class="badge rounded-pill bg-secondary text-white text-wrap">Skončil</span>
                  <% } %> 
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
