<% layout('/layouts/mainTemplate') %>

<h1
  class="
    display-6
    d-inline
    fw-bold
    border-bottom border-5 border-success
    lh-base
  "
>
  Seznam všech duelů
</h1>

<div class="my-5"">
  <div class="row">
    <div class="col px-3 d-flex flex-column justify-content-evenly">
      <h4 class="text-center">Osmifinále</h4>
      <div class="d-flex flex-column justify-content-evenly h-100">
        <div class="flex-grow-1 d-flex flex-column justify-content-center my-2 border-end border-success border-3 pe-2">
          <div class="d-flex justify-content-between align-items-center mb-2"><h6 class="mb-0">DiscgolfPark Bocheta</h6><h5 class="ms-1 mb-0">#4</h5></div>
          <time>11.11.2021</time>
          <div class="d-flex justify-content-between align-items-center mt-2"><h6 class="mb-0">DiscgolfPark Mertovy Sady</h6><h5 class="ms-1 mb-0">#2</h5></div>
        </div>
        <div class="flex-grow-1 d-flex flex-column justify-content-center my-2 border-end border-success border-3 pe-2">
          <div class="d-flex justify-content-between align-items-center mb-2"><h6 class="mb-0">DiscgolfPark Bocheta</h6><h5 class="ms-1 mb-0">#4</h5></div>
          <time>11.11.2021</time>
          <div class="d-flex justify-content-between align-items-center mt-2"><h6 class="mb-0">DiscgolfPark Mertovy Sady</h6><h5 class="ms-1 mb-0">#2</h5></div>
        </div>
        <div class="flex-grow-1 d-flex flex-column justify-content-center my-2 border-end border-success border-3 pe-2">
          <div class="d-flex justify-content-between align-items-center mb-2"><h6 class="mb-0">DiscgolfPark Bocheta</h6><h5 class="ms-1 mb-0">#4</h5></div>
          <time>11.11.2021</time>
          <div class="d-flex justify-content-between align-items-center mt-2"><h6 class="mb-0">DiscgolfPark Mertovy Sady</h6><h5 class="ms-1 mb-0">#2</h5></div>
        </div>
        <div class="flex-grow-1 d-flex flex-column justify-content-center my-2 border-end border-success border-3 pe-2">
          <div class="d-flex justify-content-between align-items-center mb-2"><h6 class="mb-0">DiscgolfPark Bocheta</h6><h5 class="ms-1 mb-0">#4</h5></div>
          <time>11.11.2021</time>
          <div class="d-flex justify-content-between align-items-center mt-2"><h6 class="mb-0">DiscgolfPark Mertovy Sady</h6><h5 class="ms-1 mb-0">#2</h5></div>
        </div>
        <div class="flex-grow-1 d-flex flex-column justify-content-center my-2 border-end border-success border-3 pe-2">
          <div class="d-flex justify-content-between align-items-center mb-2"><h6 class="mb-0">DiscgolfPark Bocheta</h6><h5 class="ms-1 mb-0">#4</h5></div>
          <time>11.11.2021</time>
          <div class="d-flex justify-content-between align-items-center mt-2"><h6 class="mb-0">DiscgolfPark Mertovy Sady</h6><h5 class="ms-1 mb-0">#2</h5></div>
        </div>
        <div class="flex-grow-1 d-flex flex-column justify-content-center my-2 border-end border-success border-3 pe-2">
          <div class="d-flex justify-content-between align-items-center mb-2"><h6 class="mb-0">DiscgolfPark Bocheta</h6><h5 class="ms-1 mb-0">#4</h5></div>
          <time>11.11.2021</time>
          <div class="d-flex justify-content-between align-items-center mt-2 border-end border-success border-3 pe-2"><h6 class="mb-0">DiscgolfPark Mertovy Sady</h6><h5 class="ms-1 mb-0">#2</h5></div>
        </div>
        <div class="flex-grow-1 d-flex flex-column justify-content-center my-2 border-end border-success border-3 pe-2">
          <div class="d-flex justify-content-between align-items-center mb-2"><h6 class="mb-0">DiscgolfPark Bocheta</h6><h5 class="ms-1 mb-0">#4</h5></div>
          <time>11.11.2021</time>
          <div class="d-flex justify-content-between align-items-center mt-2"><h6 class="mb-0">DiscgolfPark Mertovy Sady</h6><h5 class="ms-1 mb-0">#2</h5></div>
        </div>
        <div class="flex-grow-1 d-flex flex-column justify-content-center my-2 border-end border-success border-3 pe-2">
          <div class="d-flex justify-content-between align-items-center mb-2"><h6 class="mb-0">DiscgolfPark Bocheta</h6><h5 class="ms-1 mb-0">#4</h5></div>
          <time>11.11.2021</time>
          <div class="d-flex justify-content-between align-items-center mt-2"><h6 class="mb-0">DiscgolfPark Mertovy Sady</h6><h5 class="ms-1 mb-0">#2</h5></div>
        </div>
      </div>
    </div>
    <div class="col px-3 d-flex flex-column justify-content-evenly">
      <h4 class="text-center">Čtvrtfinále</h4>
      <div class="d-flex flex-column justify-content-evenly h-100">
        <div class="flex-grow-1 d-flex flex-column justify-content-center my-2 border-end border-success border-3 pe-2">
          <div class="d-flex justify-content-between align-items-center mb-2"><h6 class="mb-0">DiscgolfPark Bocheta</h6><h5 class="ms-1 mb-0">#4</h5></div>
          <time>11.11.2021</time>
          <div class="d-flex justify-content-between align-items-center mt-2"><h6 class="mb-0">DiscgolfPark Mertovy Sady</h6><h5 class="ms-1 mb-0">#2</h5></div>
        </div>
        <div class="flex-grow-1 d-flex flex-column justify-content-center my-2 border-end border-success border-3 pe-2">
          <div class="d-flex justify-content-between align-items-center mb-2"><h6 class="mb-0">DiscgolfPark Bocheta</h6><h5 class="ms-1 mb-0">#4</h5></div>
          <time>11.11.2021</time>
          <div class="d-flex justify-content-between align-items-center mt-2"><h6 class="mb-0">DiscgolfPark Mertovy Sady</h6><h5 class="ms-1 mb-0">#2</h5></div>
        </div>
        <div class="flex-grow-1 d-flex flex-column justify-content-center my-2 border-end border-success border-3 pe-2">
          <div class="d-flex justify-content-between align-items-center mb-2"><h6 class="mb-0">DiscgolfPark Bocheta</h6><h5 class="ms-1 mb-0">#4</h5></div>
          <time>11.11.2021</time>
          <div class="d-flex justify-content-between align-items-center mt-2"><h6 class="mb-0">DiscgolfPark Mertovy Sady</h6><h5 class="ms-1 mb-0">#2</h5></div>
        </div>
        <div class="flex-grow-1 d-flex flex-column justify-content-center my-2 border-end border-success border-3 pe-2">
          <div class="d-flex justify-content-between align-items-center mb-2"><h6 class="mb-0">DiscgolfPark Bocheta</h6><h5 class="ms-1 mb-0">#4</h5></div>
          <time>11.11.2021</time>
          <div class="d-flex justify-content-between align-items-center mt-2"><h6 class="mb-0">DiscgolfPark Mertovy Sady</h6><h5 class="ms-1 mb-0">#2</h5></div>
        </div>        
      </div>
    </div>
    <div class="col px-3 d-flex flex-column justify-content-evenly">
      <h4 class="text-center">Semifinále</h4>
      <div class="d-flex flex-column justify-content-evenly h-100">
        <div class="flex-grow-1 d-flex flex-column justify-content-center my-2 border-end border-success border-3 pe-2">
          <div class="d-flex justify-content-between align-items-center mb-2"><h6 class="mb-0">DiscgolfPark Bocheta</h6><h5 class="ms-1 mb-0">#4</h5></div>
          <time>11.11.2021</time>
          <div class="d-flex justify-content-between align-items-center mt-2"><h6 class="mb-0">DiscgolfPark Mertovy Sady</h6><h5 class="ms-1 mb-0">#2</h5></div>
        </div>
        <div class="flex-grow-1 d-flex flex-column justify-content-center my-2 border-end border-success border-3 pe-2">
          <div class="d-flex justify-content-between align-items-center mb-2"><h6 class="mb-0">DiscgolfPark Bocheta</h6><h5 class="ms-1 mb-0">#4</h5></div>
          <time>11.11.2021</time>
          <div class="d-flex justify-content-between align-items-center mt-2"><h6 class="mb-0">DiscgolfPark Mertovy Sady</h6><h5 class="ms-1 mb-0">#2</h5></div>
        </div>    
      </div>
    </div>
    <div class="col px-3 d-flex flex-column justify-content-evenly">
      <h4 class="text-center">Finále</h4>
      <div class="d-flex flex-column justify-content-evenly h-100">
        <div class="flex-grow-1 d-flex flex-column justify-content-center my-2 border-end border-success border-3 pe-2">
          <div class="d-flex justify-content-between align-items-center mb-2"><h6 class="mb-0">DiscgolfPark Bocheta</h6><h5 class="ms-1 mb-0">#4</h5></div>
          <time>11.11.2021</time>
          <div class="d-flex justify-content-between align-items-center mt-2"><h6 class="mb-0">DiscgolfPark Mertovy Sady</h6><h5 class="ms-1 mb-0">#2</h5></div>
        </div>  
      </div>
    </div>
  </div>
</div>

<div class="my-5">
  <% duels.forEach(duel => { %>

  <div
    class="
      card
      text-center
      mt-5
      <%
      if(duel.isOngoing)
      {
      %>shadow-gold<%
      }
      else
      {
      %>shadow<%
      }
      %>
    "
  >
    <div class="card-header">
      <h2>Duel #<%= duel.round %></h2>
      <% if(duel.isFinished) { %>
      <span class="badge rounded-pill bg-dark text-white text-wrap"
        >Již skončil</span
      >
      <% } else if(duel.isOngoing) { %>
      <span class="badge rounded-pill bg-warning text-dark text-wrap"
        >Právě probíhá</span
      >
      <% } else if(duel.isAboutToStart) { %>
      <span class="badge rounded-pill bg-primary text-white text-wrap"
        >Ještě nezačal</span
      >
      <% } %>
    </div>
    <div class="card-body">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <h5
                class="
                  card-title
                  fw-bold
                  d-inline-block
                  border-bottom border-primary border-5
                  pb-1
                  mb-3
                "
              >
                Jamka #<%= duel.holesInDuel[0].hole.number %>
              </h5>
              <a
                href="/courses/<%= duel.holesInDuel[0].hole.course._id %>"
                class="d-block card-text text-dark text-decoration-none"
              >
                <%= duel.holesInDuel[0].hole.course.name %>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 display-5 my-2 my-md-0">VS.</div>
        <div class="col-md-4">
          <div class="card shadow">
            <div class="card-body">
              <h5
                class="
                  card-title
                  fw-bold
                  d-inline-block
                  border-bottom border-success border-5
                  pb-1
                  mb-3
                "
              >
                Jamka #<%= duel.holesInDuel[1].hole.number %>
              </h5>
              <a
                href="/courses/<%= duel.holesInDuel[1].hole.course._id %>"
                class="d-block card-text text-dark text-decoration-none"
              >
                <%= duel.holesInDuel[1].hole.course.name %>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-auto">
          <a
            href="/duels/<%= duel._id %>"
            class="btn btn-outline-dark mt-4 mt-lg-2 shadow w-100"
            >Vstoupit do duelu</a
          >
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <% if(duel.isFinished) { %> Tento duel proběhl <%= duel.endDate %> <% }
      else if(duel.isOngoing) { %> Tento duel probíhá právě teď <% } else
      if(duel.isAboutToStart) { %> Tento duel proběhne <%= duel.startDate %> <%
      } %>
    </div>
  </div>
  <% }) %>
</div>

