<% layout('/layouts/mainTemplate') %>

<h1 class="mb-3 text-center">Duel #<%= round %></h1>

<div class="alert alert-info alert-dismissible fade show" role="alert">
  <% if(isOngoing) { %> 
    <strong>Tento duel právě probíhá!</strong> Možnost hlasovat v tomto duelu skončí dnes ve 23:59! 
    <% } else if(isAboutToStart) { %>
      <strong>Tento duel ještě nezačal!</strong> Možnost hlasovat v tomto duelu začne <strong><%= startDate %></strong>.
      <% } else if(isFinished) { %>
        <strong>Tento duel skončil <%= endDate %>!</strong> Výsledky jsou konečné a nelze je změnit.
        <% } %> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="mt-4">
  <div class="row align-items-center">
    <div class="col-5 text-center">
      <h2 class="fw-bold border-bottom border-primary border-5 d-inline-block">Jamka #<%= holeOne.hole.number %></h2>
      <h2>
        <%= holeOne.hole.course.name %>
      </h2>
    </div>
    <div class="col-2 text-center">
      <div class="display-4">VS.</div>
    </div>
    <div class="col-5 text-center">
      <h2 class="fw-bold border-bottom border-success border-5 d-inline-block">Jamka #<%= holeTwo.hole.number %></h2>
      <h2>
        <%= holeTwo.hole.course.name %>
      </h2>
    </div>
  </div>
  <div class="row mt-4 align-items-center">
    <div class="col-3 text-center"><h4 class="display-6 m-0"><%= holeOne.votes %></h4></div>
    <div class="col-6">
        <div class="progress shadow" style="height: 25px;">
        <div
            class="progress-bar"
            role="progressbar"
            style="width: <%= holeOnePercentage %>%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
        ></div>
        <div
            class="progress-bar bg-success"
            role="progressbar"
            style='width: <%= holeTwoPercentage %>%'
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
        ></div>
        </div>
    </div>
    <div class="col-3 text-center"><h4 class="display-6 m-0"><%= holeTwo.votes %></h4></div>
  </div>
  <div class="row my-4 align-items-center justify-content-center">
      <div class="col-md-4">
        <div class="card mt-3 <% if(isFinished && holeOneIsWinner) { %>shadow-gold<% } else { %>shadow<% } %>">
            <img
              src="/img/teesign.jpg"
              class="card-img-top d-none d-md-block"
              alt="<%= holeOne.hole.course.name %>"
            />
            <div class="card-body d-flex align-items-center flex-column">
              <h5 class="card-title text-center"><span class="fw-bold">Jamka #<%= holeOne.hole.number %></span></br><%= holeOne.hole.course.name %></h5>
              <% if(holeOneIsWinner && !isAboutToStart) { %> 
              <div>
                <span class="badge rounded-pill bg-warning text-dark">Postupující jamka</span>
                <i class="em em-trophy" aria-role="presentation" aria-label="TROPHY"></i>
              </div>
              <% } %>
              <% if(currentUser.userDuels.find(userDuel => userDuel.hole._id.toString() === holeOne.hole._id.toString())) { %> 
                <div>
                  <span class="badge rounded-pill bg-info text-dark text-wrap">Tvá nominace</span> 
                </div>
                <% } %> 
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="fw-bold">Par:</span> <%= holeOne.hole.par %>
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Délka:</span> <%= holeOne.hole.length %> m
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Počet nominací v 1. kole:</span> <%= holeOne.hole.votes %>
              </li>
            </ul>
        </div>
        <% if(!isFinished) {%>
          <form action="/duels/<%= duelId %>/?_method=PUT" method="POST">
            <% if (currentUser) { %> 
              <input type="hidden" name="userId" value="<%= currentUser._id %>">
              <% } %>
            <input type="hidden" name="holeId" value="<%= holeOne.hole._id %>"> 
            <button class="btn btn-primary btn-sm w-100 my-4 fs-3 shadow <% if(!isOngoing || !currentUser || currentUser.userDuels.find((userDuel) => userDuel.duel._id.toString() === duelId.toString())) { %>disabled<% } %>">Hlasovat</button>
          </form>
       <% } %> 
      </div>
      <div class="col-md-auto text-center mx-3">
        <div class="display-4">VS.</div>
      </div>
      <div class="col-md-4">
        <div class="card mt-3 <% if(isFinished && holeTwoIsWinner) { %>shadow-gold<% } else { %>shadow<% } %>">
            <img
              src="/img/teesign.jpg"
              class="card-img-top d-none d-md-block"
              alt="<%= holeTwo.hole.course.name %>"
            />
            <div class="card-body d-flex align-items-center flex-column">
              <h5 class="card-title text-center"><span class="fw-bold">Jamka #<%= holeTwo.hole.number %></span></br><%= holeTwo.hole.course.name %></h5>
              <% if(holeTwoIsWinner && !isAboutToStart) { %> 
                <div>
                  <span class="badge rounded-pill bg-warning text-dark">Postupující jamka</span>
                  <i class="em em-trophy" aria-role="presentation" aria-label="TROPHY"></i>
                </div>
                <% } %>
                <% if(currentUser.userDuels.find(userDuel => userDuel.hole._id.toString() === holeTwo.hole._id.toString())) { %> 
                  <div>
                    <span class="badge rounded-pill bg-info text-dark text-wrap">Tvá nominace</span> 
                  </div>
                  <% } %> 
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="fw-bold">Par:</span> <%= holeTwo.hole.par %>
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Délka:</span> <%= holeTwo.hole.length %> m
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Počet nominací v 1. kole:</span> <%= holeTwo.hole.votes %>
              </li>
            </ul>
          </div>
          <% if(!isFinished) {%> 
            <form action="/duels/<%= duelId %>/?_method=PUT" method="POST">
              <% if (currentUser) { %> 
                <input type="hidden" name="userId" value="<%= currentUser._id %>">
                <% } %>
              <input type="hidden" name="holeId" value="<%= holeTwo.hole._id %>"> 
              <button class="btn btn-success btn-sm w-100 my-4 fs-3 shadow <% if(!isOngoing || !currentUser || currentUser.userDuels.find((userDuel) => userDuel.duel._id.toString() === duelId.toString())) { %>disabled<% } %>">Hlasovat</button>
            </form>
          <% } %> 
      </div>
  </div>
</div>
